<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.cy.oauth2.web.mapper.SysPermissionMapper">

    <select id="findByUserId" resultType="SysPermission">
        SELECT
            DISTINCT p.id,	p.parent_id, p.title, p.code, p.index, p.type,
            p.icon, p.remark, p.create_date, p.update_date,p.sort
        FROM
          sys_user AS u
          LEFT JOIN sys_user_role AS ur
            ON u.id = ur.user_id
          LEFT JOIN sys_role AS r
            ON r.id = ur.role_id
          LEFT JOIN sys_role_permission AS rp
            ON r.id = rp.role_id
          LEFT JOIN sys_permission AS p
            ON p.id = rp.permission_id
        WHERE u.id = #{userId}
        ORDER BY p.id
    </select>

</mapper>
